<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="/todolist/style.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12 ">
          <div id="myDIV" class="header mt-5 shadow-lg">
              <h2 style="margin:5px">My To Do List</h2>
              <input type="text" id="myInput" placeholder="Title..." />
              <span onclick="newElement()" class="addBtn">Add</span>
            </div>
        
            <ul id="myUL" class="shadow-lg">
              <li>Hit the gym</li>
              <li class="checked">Pay bills</li>
              <li>Meet George</li>
              <li>Buy eggs</li>
              <li>Read a book</li>
              <li>Organize office</li>
            </ul>
        </div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/todolist/script.js"></script>
  </body>
</html>
